<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome & Introductions</td> </tr>
      <tr> <td>09:30</td>  <td>Tidy Data & Spreadsheets</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Tidy Data & Spreadsheets continued</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>OpenRefine</td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:15</td>  <td>OpenRefine continued</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <p><b>Lunch Options</b>: There are many (many!) restaurants on “the Ave,” and this <a href="https://seattle.eater.com/maps/u-district-where-to-eat-in-seattle">curated list</a> provides some great options; there are, of course, a lot more that you can find by just wandering. Note that items numbered 7 and higher in the linked list are closest to OUGL. There are other options in the <a href="https://hfs.uw.edu/Eat/Dining-Locations/Husky-Den">Husky Union Building</a>, including pizza, sandwiches, coffee and pre-made take-away options. There is also a <a href="https://hfs.uw.edu/Eat/Dining-Locations/Suzzallo-Starbucks">Starbucks</a> in the Suzzallo Library, just across Red Square from OUGL.</p>
</div>
