<p id="who">
  <strong>Who:</strong>
  The course is for people working in library- and information-related roles.
  <strong>
    You don't need to have any previous knowledge of the tools that
    will be presented at the workshop.
  </strong>
  Participation will be limited to 30 registrants with preference given to University of Washington and Seattle University affiliates.
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdITUUxQInLDHmLQpauYhM_wPocntsz99rSm2crjha7b-Npdg/viewform?usp=sf_link">Register using this form.</a> 
</p>
